{% include base_path %}

<!-- start custom head snippets -->

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<!-- I'll explain the current code and provide a modified version for your needs.

The original code sets up various favicon and touch icons for different devices and contexts:
- Apple touch icon for iOS devices
- SVG favicon for modern browsers
- PNG favicons for different sizes
- Web manifest for PWA support
- ICO favicon for older browsers
- Theme color for mobile browsers

Here's the modified code using your profile picture and adding search engine thumbnail support:

```html -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/profile_pic.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon.png"/>
<link rel="shortcut icon"  href="{{ base_path }}/images/favicon.ico"/>



<!-- Search engine thumbnail meta tags -->
<meta property="og:image" type="image/png" sizes="180x180" content="{{ base_path }}/images/profile_pic.png"/>
<meta name="twitter:image" content="{{ base_path }}/images/profile_pic.png"/>
<meta name="thumbnail" content="{{ base_path }}/images/profile_pic.png"/>
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->
